<div class="wpml-wizard-step wpml-translation-editor-step js-wpml-translation-editor-step">

        <h2 class="text-center">{{ strings.title }}</h2>

        <p class="text-center">{{ strings.summary }}</p>

        <table class="translation-editor-table">
            <thead>
            <tr>
	            <td class="translation-editor-hidden-cell"></td>
	            <th>{{ strings.options.classic.heading }}</th>
	            <th>{{ strings.options.ate.heading }}</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><span>{{ strings.feature_1 }}</span></th>
                    <td><span><i class="otgs-ico-ok"></i></span></td>
                    <td><span><i class="otgs-ico-ok"></i></span></td>
                </tr>
                <tr>
                    <th scope="row"><span>{{ strings.feature_2 }}</span></th>
                    <td><span></span></td>
                    <td><span><i class="otgs-ico-ok"></i></span></td>
                </tr>
                <tr>
                    <th scope="row"><span>{{ strings.feature_3 }}</span></th>
                    <td><span></span></td>
                    <td><span><i class="otgs-ico-ok"></i></span></td>
                </tr>
                <tr>
                    <th scope="row"><span>{{ strings.feature_4 }}</span></th>
                    <td><span></span></td>
                    <td><span><i class="otgs-ico-ok"></i></span></td>
                </tr>
                <tr>
                    <th scope="row"><span>{{ strings.feature_5 }}</span></th>
                    <td><span></span></td>
                    <td><span><i class="otgs-ico-ok"></i></span></td>
                </tr>
                <tr class="translation-editor-last-row">
                    <th scope="row"><span>{{ strings.feature_6 }}</span></th>
                    <td><span>{{ strings.classic_cost }}</span></td>
                    <td><span>
                            <span>
                            <del>{{ strings.ate_cost_1 }}</del><br />{{ strings.ate_cost_2 }}
                            </span>
                        </span></td>
                </tr>
                <tr class="translation-editor-select-row">
                    <td class="translation-editor-hidden-cell"></td>
                    <td>
                        <span>
                        <input type="radio" name="editor-type" id="editor-type-classic"
                               value="{{ editor_types.classic }}" class="js-classic-editor"/>
                        <label for="editor-type-classic">{{ strings.select }}</label>
                    </span>
                    </td>
                    <td>
                        <span>
                        <input type="radio" name="editor-type" id="editor-type-ate" value="{{ editor_types.ate }}"
                               class="js-ate-editor"/>
                        <label for="editor-type-ate">{{ strings.select }}</label>
                    </span>
                        {% include 'mcs-ate-controls.twig' with strings.ate %}
                    </td>
                </tr>
            </tbody>
        </table>

        <p class="translation-editor-table-info">{{ strings.after_table }}</p>

        <div class="wpml-wizard-buttons-container">
            <button class="button button-secondary alignleft js-go-back">&laquo; {{ strings.go_back }}</button>
            <button class="button wpml-button button-lg alignright js-continue" disabled="disabled">{{ strings.continue }} &raquo;</button>
        </div>

</div>